.book-image {
  height: 250px;
}
.button-bar {
  width: 100%;
  justify-content: center;
  display: flex;
}
.page-link {
  color: black;
  font-size: 18px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}
