<div class="row">
    <div class="orders">
        <div class="order">
            <div class="order-info">
                <div>
                    <a>Đơn hàng: <span class="order-id">324234234234</span></a>
                    <p class="day-order">Đặt hàng ngày 20/11/2020 13:44:20</p>
                </div>
                <div>
                    <a class="btn btn-default hvr-hover btn-cart">Quản lý đơn hàng</a>
                </div>
            </div>
            <div class="item">
                <div class="item-image"><img
                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_140322.jpg"
                        class="order-book-image"></img> </div>
                <div class="item-title">Sách 1</div>
                <div class="item-quantity">Số lương: 1</div>
                <div class="item-status"><span>Đang giao</span></div>
            </div>
        </div>
        <div class="order">
            <div class="order-info">
                <div>
                    <a>Đơn hàng: <span class="order-id">324234234234</span></a>
                    <p class="day-order">Đặt hàng ngày 20/11/2020 13:44:20</p>
                </div>
                <div>
                    <a class="btn btn-default hvr-hover btn-cart">Quản lý đơn hàng</a>
                </div>
            </div>
            <div class="item">
                <div class="item-image"><img
                        src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_140322.jpg"
                        class="order-book-image"></img> </div>
                <div class="item-title">Sách 1</div>
                <div class="item-quantity">Số lương: 2</div>
                <div class="item-status"><span>Đang giao</span></div>
            </div>
        </div>
    </div>
</div>