<div class="verify-div">
    <p class="verify-title">Vui lòng xác nhận email mà chúng tôi đã gửi cho bạn</p>
    <div class="child">
        <p class="question"> Không nhận được email?</p>
        <a style="color: white;" onclick="verifyUser()" class="btn btn-default hvr-hover btn-cart">Gửi lại</a>
    </div>
</div>
<script src="js/verify.js"></script>